In [ ]:
import this

# Paso 1. Declaración de variables

In [ ]:
## ZEN 2.  Explicit is better than implicit.
edad = 25            # Entero (int)
altura = 1.75        # Flotante (float)
nombre = "Carlos"    # Cadena de texto (string)
es_estudiante = True # Booleano (bool)

# Paso 2. Leer el tipo de Variable

In [ ]:
# Para leer el tipo de la variable
type(edad)

In [ ]:
# Actividad 2. Imprima el tipo de las otras variables

# Paso 3. Convertir

para convertir se usa el tipo deseado y la variable en el parentesis:

* int(variable)
* float(variable)
* str(variable)

## Errores cómunes

*  int('a')
## Actividad
* Convierte la edad en un número flotante e imprímela.
* Convierte la altura en un número entero e imprímela.
* Convierte la edad en una cadena de texto e imprímela.
* Convierte el valor booleano es_estudiante en un número entero y en una cadena de texto, mostrando los resultados.

In [ ]:
int('1')

In [ ]:
int('a')