# Capítulo 2.1. Tipos de Datos

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Paso 1. Declaración de variables

In [ ]:
## ZEN 2.  Explicit is better than implicit.
edad = 25            # Entero (int)
altura = 1.75        # Flotante (float)
nombre = "Carlos"    # Cadena de texto (string)
es_estudiante = True # Booleano (bool)

## Paso 2. Leer el tipo de Variable

In [ ]:
# Para leer el tipo de la variable
type(edad)

int

In [ ]:
# Actividad 2. Imprima el tipo de las otras variables

## Paso 3. Convertir

para convertir se usa el tipo deseado y la variable en el parentesis:

* int(variable)
* float(variable)
* str(variable)

## Errores cómunes

*  int('a')
## Actividad
* Convierte la edad en un número flotante e imprímela.
* Convierte la altura en un número entero e imprímela.
* Convierte la edad en una cadena de texto e imprímela.
* Convierte el valor booleano es_estudiante en un número entero y en una cadena de texto, mostrando los resultados.

In [ ]:
int('1')

1

In [ ]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [ ]:
# Conversión de float a int (truncando decimales)
altura_como_entero = int(altura)
print("Altura como entero:", altura_como_entero)  # Salida: 1

# Conversión de int a string
edad_como_texto = str(edad)
print("Edad como texto:", edad_como_texto)  # Salida: "25"

# Conversión de booleano a entero
es_estudiante_como_entero = int(es_estudiante)
print("Es estudiante como entero:", es_estudiante_como_entero)  # Salida: 1

# Conversión de booleano a string
es_estudiante_como_texto = str(es_estudiante)
print("Es estudiante como texto:", es_estudiante_como_texto)  # Salida: "True"

# Error al intentar convertir un string con letras a int
# Esto generaría un ValueError: print(int(nombre))

Altura como entero: 1
Edad como texto: 25
Es estudiante como entero: 1
Es estudiante como texto: True