In [ ]:
import this

# Paso 1. Declaración de variables

In [ ]:
## ZEN 2.  Explicit is better than implicit.
edad = 25            # Entero (int)
altura = 1.75        # Flotante (float)
nombre = "Carlos"    # Cadena de texto (string)
es_estudiante = True # Booleano (bool)

# Paso 2. Leer el tipo de Variable

In [ ]:
# Para leer el tipo de la variable
type(edad)

In [ ]:
# Actividad 2. Imprima el tipo de las otras variables

# Paso 3. Convertir

para convertir se usa el tipo deseado y la variable en el parentesis:

* int(variable)
* float(variable)
* str(variable)

## Errores cómunes

*  int('a')
## Actividad
* Convierte la edad en un número flotante e imprímela.
* Convierte la altura en un número entero e imprímela.
* Convierte la edad en una cadena de texto e imprímela.
* Convierte el valor booleano es_estudiante en un número entero y en una cadena de texto, mostrando los resultados.

In [1]:
# Definimos las variables
edad = 25
altura = 175.5
es_estudiante = True

# Convertimos la edad en un número flotante
edad_flotante = float(edad)
print("Edad como flotante:", edad_flotante)

# Convertimos la altura en un número entero
altura_entera = int(altura)
print("Altura como entero:", altura_entera)

# Convertimos la edad en una cadena de texto
edad_cadena = str(edad)
print("Edad como cadena:", edad_cadena)

# Convertimos el valor booleano en un número entero
es_estudiante_entero = int(es_estudiante)
print("Es estudiante como entero:", es_estudiante_entero)

# Convertimos el valor booleano en una cadena de texto
es_estudiante_cadena = str(es_estudiante)
print("Es estudiante como cadena:", es_estudiante_cadena)

Edad como flotante: 25.0
Altura como entero: 175
Edad como cadena: 25
Es estudiante como entero: 1
Es estudiante como cadena: True

In [ ]:
int('a')